.navbar {
    padding: 10px 100px;
    justify-content: space-between;
}

.navbar img {
    width: 150px;
}

.button-cart {
    color: white !important;
    background-color: black;
    border-radius: 10px;
}

.button-profile {
    color: white !important;
    background-color: black;
    border-radius: 10px;
}

.carousel-control-next {
    margin-top: 80px;
}

.carousel-control-prev {
    margin-top: 80px;
}

.carousel-caption {
    margin-bottom: 200px;
}

.carousel-caption h1 {
    font-size: 100px;
}

.carousel-caption p {
    font-size: 50px;
}

.mini-category {
    margin: 100px;

}

.mini-category h2 {
    margin: 15px;
    padding-bottom: 40px;
}

/* Footer Section */

footer {
    background-color: aliceblue;
    padding: 80px;
}

.first-row-section {
    width: 500px;

}



.paragraph {
    width: 500px;
}

.categori1 {
    margin-top: 20px;
}

.categori2 {
    margin-left: 50px;
    margin-top: 20px;
}

.categori1 a {
    margin-top: 12px;
    text-decoration: none;
    color: black;
}

.categori2 a {
    text-decoration: none;
    color: black;
}

.fourth-row-section img {
    width: 330px;
    margin-bottom: 40px;
}