.col1Style{
    background:tomato;


}
.bodydesign{
    margin: 2%;
    border: 2px solid tomato;
}

.rowcontainposition{
    margin-top: 40%;
    padding-top: 40%;
    text-align:center;

    color: white;


}



p{
    text-align: center;
}
.img-fluid{
    height: 150px !important;
}
