.navbar {
    padding: 10px 100px;
    justify-content: space-between;
}

.navbar img {
    width: 150px;
}

.button-cart {
    color: white !important;
    background-color: black;
    border-radius: 10px;
}

.button-profile {
    color: white !important;
    background-color: black;
    border-radius: 10px;
}

.product-image img {
    width: 100%;
}

.spec p {
    font-size: 20px;
    margin-top: 20;
    margin-left: 40px;
}

.price {
    font-weight: bold;
}

.specifications .buttons {
    margin: 40px;
    margin-left: 60px;
}

/* Footer Section */

footer {
    background-color: aliceblue;
    padding: 80px;
}

.first-row-section {
    width: 500px;

}



.paragraph {
    width: 500px;
}

.categori1 {
    margin-top: 20px;
}

.categori2 {
    margin-left: 50px;
    margin-top: 20px;
}

.categori1 a {
    margin-top: 12px;
    text-decoration: none;
    color: black;
}

.categori2 a {
    text-decoration: none;
    color: black;
}

.fourth-row-section img {
    width: 330px;
    margin-bottom: 40px;
}