.col1Style{
    background: rgba(15, 36, 67, 0.84);


}
.brand-logo {
    width: 200px;
}
.container{
    margin: 5% !important;
    border: 2px solid rgba(11, 16, 24, 0.84);



}
.card{
    margin-top: 30%;
}
.rowcontainposition{


}
.card-img-top{
    padding-top: 20% !important;
}
.email-logo{
    height: 250px;

}
h1{
    text-align: center;
    margin-top: 8% !important;
    margin-bottom: 3% !important;
}
.card-text{
    padding-top: 20%;
    padding-bottom: 30%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    text-align: center;
    font-size: 20px;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    background-color: rgb(234, 236, 245);

    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  .textstyle{
    font-size: 20px;

  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: blue;
    color: white;
    padding: 20px 80px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

  }
  .btnstyle{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
  }

  /* Footer Section */

footer {
    background-color: aliceblue;
    padding: 80px;
}

.first-row-section {
    width: 500px;

}



.paragraph {
    width: 500px;
}

.categori1 {
    margin-top: 20px;
}

.categori2 {
    margin-left: 50px;
    margin-top: 20px;
}

.categori1 a {
    margin-top: 12px;
    text-decoration: none;
    color: black;
}

.categori2 a {
    text-decoration: none;
    color: black;
}

.fourth-row-section img {
    width: 330px;
    margin-bottom: 40px;
}
