*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
$hover-color: #f05532ea;
$animate-border: #f05532ea;
// navbar button 
.animate-button {
	width: 120px;
	height: 40px;
	position: relative;
	text-align: center;
	border: none;
	overflow: hidden;
	border-radius: 5px;
	background: transparent;

	&::before {
		content: "";
		height: 110%;
		width: 110%;
		top: -130%;
		left: -5%;
		position: absolute;
		background-color: $hover-color;
		transition: all 300ms linear;
	}

	.btn-animate-top {
		position: absolute;
		width: 100%;
		height: 2px;
		top: 0;
		left: -100%;
		background-color: $animate-border;
		animation: lefttoRight 1s linear infinite;
	}

	.btn-animate-right {
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		right: 0;
		background-color: $animate-border;
		animation: toptoBottom 1s linear infinite;
		animation-delay: 0.25s;
	}

	.btn-animate-bottom {
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		right: -100%;
		background-color: $animate-border;
		animation: righttoleft 1s linear infinite;
		animation-delay: 0.50s;
	}

	.btn-animate-left {
		position: absolute;
		width: 2px;
		height: 100%;
		bottom: -100%;
		left: 0;
		background-color: $animate-border;
		animation: bottomtotop 1s linear infinite;
		animation-delay: 0.75s;
	}


	.btn-text {
		color: $hover-color;
		font-size: 14px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-weight: bold;
		white-space: nowrap;

	}

	&:hover {
		&::before {
			top: -5%;
		}

		.btn-text {
			color: #fff;
		}

		.btn-animate-left,
		.btn-animate-bottom,
		.btn-animate-right,
		.btn-animate-top {
			animation-play-state: paused;
		}
	}

}

// button animaiton 
@keyframes lefttoRight {
	0% {
		left: -100%;
	}

	50%,
	100% {
		left: 100%;
	}

}

@keyframes toptoBottom {
	0% {
		top: -100%;
	}

	50%,
	100% {
		top: 100%;
	}


}

@keyframes righttoleft {
	0% {
		right: -100%;
	}

	50%,
	100% {
		right: 100%;
	}



}

@keyframes bottomtotop {
	0% {
		bottom: -100%;
	}

	50%,
	100% {
		bottom: 100%;
	}
}

// navbar desing end here 

