*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
	// font-family: 'Rubik', sans-serif;
	font-family: 'Josefin Sans', sans-serif;

}

// ==================color vareiable====================
$hover-color: #f05532ea;


// ========================card design start ======================
.dashboard-card{
	max-width: 390px;
	border-radius: 10px;
	background-color: $hover-color;
	color: white;
	display: flex;
	.card-left-section{
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 60px;
	}
	.card-right-section{
		margin: 0 auto;
		.count{
			margin-top: 10px;
		}
		.title{
			margin-bottom: 10px;
		}
	}
}