.navbar {
    padding: 10px 100px;
    justify-content: space-between;
}

.navbar img {
    width: 150px;
}

.button-cart {
    color: white !important;
    background-color: black;
    border-radius: 10px;
}

.button-profile {
    color: white !important;
    background-color: black;
    border-radius: 10px;
}